/* ----------------------------------------
    Global Styles
---------------------------------------- */
html {
  overflow: hidden;
  font-size: 24px;
}
input {
  word-break: normal; /* Fixes text wrapping on Safari */
}
button > * {
  pointer-events: none;
}
.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("../images/peyto-lake.jpg") no-repeat center/cover;
  -webkit-filter: blur(3px);
  filter: blur(3px);
  z-index: -1;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00adb5;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: #00a1a8;
}

/* Utilities */
.container {
  height: 100vh;
}
.grab-cursor:hover {
  cursor: grab;
}
.hide {
  display: none;
}
.is-white {
  color: rgba(255, 255, 255, 0.85) !important;
}
.txt-shadow {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.padding-v {
  padding-top: 1em;
  padding-bottom: 1em;
}
.padding-h {
  padding-left: 1em;
  padding-right: 1em;
}
.remove-radius {
  border-radius: 0;
}
.rows {
  display: flex;
  flex-direction: column;
}
.row {
  flex: 0 1 auto;
}
.space-between {
  justify-content: space-between;
}
.strike {
  opacity: 0.5;
  text-decoration: line-through;
}

/* ----------------------------------------
    Portrait Styles
---------------------------------------- */
.portrait {
  background: url("../images/peyto-lake.jpg") no-repeat center/cover;
  text-align: right;
}
.portrait > .container {
  max-width: inherit;
}
.search {
  position: absolute;
  top: 1em;
  left: 1em;
}
.search input {
  background: transparent;
  border: none;
  outline: none;
}
.search > input:hover,
.search > input:focus {
  border-bottom: 0.05em solid rgba(255, 255, 255, 0.85);
}
.weather {
  position: absolute;
  top: 1em;
  right: 1em;
}
.image-location {
  position: absolute;
  bottom: 1em;
  left: 1em;
}
time {
  position: absolute;
  bottom: 1em;
  right: 1em;
}

/* ----------------------------------------
    Board Styles
---------------------------------------- */
.board,
.sidebar {
  flex-grow: 0;
}
.board > .container {
  min-width: 30vw;
  max-width: 50vw;
  resize: horizontal;
  overflow: auto; /* To allow board resizing */
}
.add-overflow {
  height: 100%;
  overflow: auto;
  overflow: overlay; /* Chrome only scrollbar property */
}
.brand {
  margin: 1em;
}
.dashpoint {
  background: -webkit-linear-gradient(-90deg, #00adb5 30%, #222831);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon.column {
  display: inherit;
}
.icon-menu .button {
  margin-bottom: 0;
  width: 100%;
}
.dropdown-item {
  padding-right: 1rem !important;
}
.dropdown-center {
  left: 50%;
  transform: translate(-50%, 0);
}

/* ----------------------------------------
    Card Styles
---------------------------------------- */
.focus-banner .title {
  margin-bottom: 2rem;
}
.focus-message {
  text-decoration: none !important;
}
.focus-message:hover {
  text-decoration: underline !important;
}
.field {
  margin-bottom: 0 !important;
}
.prompt,
.notepad .buttons,
.timer .buttons {
  padding-top: 0.75em;
}
.prompt .title,
.notepad input,
.notepad a,
.to-do input,
.to-do a,
.timer a,
.calculator .message {
  margin-bottom: 0.5em !important;
}
.to-do-item {
  margin: 0 0.5em 0;
}
.to-do-item label {
  padding-top: 0 !important;
  line-height: 1.4;
}
.time-input {
  max-width: 35vw;
  margin: 0 auto !important;
}
.time-input .column {
  padding: 0.75rem 0;
}
.time-input input {
  padding-left: 0.5em !important;
  padding-right: 0.25em !important;
  flex-basis: 20%;
}
.timer a {
  margin-left: 0.75em;
}
.calculator .message-body {
  padding: 0.75em;
}
.calculator .buttons {
  margin-bottom: 0;
}
.calculator .button {
  width: 25.1%;
  margin-bottom: -1px;
}
.calculator .zero {
  width: calc(50.2% - 1px);
}
.round-header {
  border-radius: 4px;
}
.card-buttons .button {
  height: 0.87em;
  padding: 0.1em 0.2em 0em;
}
.card-buttons .fas {
  font-size: 0.5em;
}
.fa-angle-up {
  transform: rotate(0deg);
  transition: transform 150ms ease;
}
.fa-angle-up.btn-rotate {
  transform: rotate(-180deg);
}

/* ----------------------------------------
    Sidebar Styles
---------------------------------------- */
.sidebar > .container {
  width: 2.5em;
}
.icon.row {
  width: inherit;
}
.plus {
  margin-top: 0 !important;
  font-size: 1.25rem;
}
.plus:after {
  content: "+";
}
