/* ----------------------------------------
    Global Styles
---------------------------------------- */
html {
	overflow: hidden;
	font-size: 24px;
}
.bg-img {
  position: absolute;
	top: 0;
	left: 0;
  height: 100%;
  width: 100%;
  background: url('../images/peyto-lake.jpg') no-repeat center/cover;
	-webkit-filter: blur(3px);
	filter: blur(3px);
  z-index: -1;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #00ADB5;
}
::-webkit-scrollbar-thumb:hover {
  border-radius: 5px;
  background-color: #00a1a8;
}

/* Utilities */
.container {
  height: 100vh;
}
.force-white {
  color: rgba(255, 255, 255, 0.85) !important;
}
.txt-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.padding-v {
  padding-top: 1em;
  padding-bottom: 1em;
}
.padding-h {
  padding-left: 1em;
  padding-right: 1em;
}
.remove-radius {
  border-radius: 0;
}
.rows{
  display: flex;
  flex-direction: column;
}
.row {
  flex: 0 1 auto;
}
.space-between {
  justify-content: space-between;
}

/* ----------------------------------------
    Portrait Styles
---------------------------------------- */
.portrait {
	background: url('../images/peyto-lake.jpg') no-repeat center/cover;
	text-align: right;
}
.portrait > .container {
  position: relative;
}
time {
  position: absolute;
  bottom: 1em;
  right: 1em;
}
.weather {
  position: absolute;
  top: 1em;
  right: 1em;
}
.image-location {
  position: absolute;
  bottom: 1em;
  left: 1em;
}

/* ----------------------------------------
    Board Styles
---------------------------------------- */
.board, .sidebar {
  flex-grow: 0;
}
.board > .container {
  min-width: 20vw;
  max-width: 50vw;
  resize: horizontal;
  overflow: auto;
}
.brand {
  margin: 1em;
}
.dashpoint {
  background: -webkit-linear-gradient(-90deg, #00ADB5 30%, #222831);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.icon.column {
  display: inherit;
}
.tools, .bookmarks-bar {
  height: 100%;
  overflow: auto; /* Scrollbar fix for Firefox etc. */
  overflow: overlay; 
}

/* ----------------------------------------
    Sidebar Styles
---------------------------------------- */
.sidebar > .container {
  width: 2.5em;
}
.icon.row {
  width: inherit;
}
.bookmarks > a {
  margin: 0.25em 0;
}
.plus {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}