@charset "utf-8";

// Google Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500&display=swap');

// Custom colours
$palette-light: rgba(255, 255, 255, 0.85);
$palette-primary: #00ADB5;
$palette-grey: rgba(34, 40, 49, 0.85);
$palette-dark: #222831;

// Redefining Bulma modifiers
$family-sans-serif: 'Quicksand', sans-serif;
$light: $palette-light;
$primary: $palette-primary;
$grey: $palette-grey;
$dark: $palette-dark;
$link: $palette-primary;
$size-1: 5rem;
$size-2: 4rem;
$size-3: 3rem;
$size-4: 2rem;
$size-5: 1rem;
$size-6: 0.75rem;
$size-7: 0.5rem;
$title-weight: 500;
$title-size: $size-4;
$subtitle-size: $size-5;
$body-line-height: 1.2;
$gap: 0px;
$message-body-padding: 1em;

// Bulma components
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/message.sass";