@charset "utf-8";

// Google Font
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

// Custom colours
$white-90: rgba(255, 255, 255, 0.9);

// Redefining Bulma modifiers
$family-sans-serif: 'Quicksand', sans-serif;
$light: $white-90;
$size-1: 5rem;
$size-2: 4rem;
$size-3: 3rem;
$size-4: 2rem;
$size-5: 1rem;
$size-6: 0.75rem;
$size-7: 0.5rem;
$body-line-height: 1.2;

// Bulma components
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";