@charset "utf-8";

// Google Font
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500&display=swap");

/* ----------------------------------------
    Custom Variables
---------------------------------------- */
// Colour palette
$palette-light: rgba(255, 255, 255, 0.85);
$palette-primary: #00adb5;
$palette-grey: rgba(34, 40, 49, 0.85);
$palette-dark: #222831;

/* ----------------------------------------
    Bulma Modifiers
---------------------------------------- */
// Font style modifiers
$family-sans-serif: "Quicksand", sans-serif;
$light: $palette-light;
$primary: $palette-primary;
$grey: $palette-grey;
$dark: $palette-dark;

// Type sizing modifiers
$size-1: 5rem;
$size-2: 4rem;
$size-3: 3rem;
$size-4: 2rem;
$size-5: 1.25rem;
$size-6: 1rem;
$size-7: 0.75rem;

$title-weight: 500;
$title-size: $size-4;
$subtitle-size: $size-6;
$body-line-height: 1.2;

// Component sizing modifiers
$gap: 0px;
$block-spacing: 1em;
$message-body-padding: 1em;
$icon-dimensions-small: 1.5rem;
$icon-dimensions: 2rem;
$dropdown-menu-min-width: 120%;
$dropdown-content-padding-top: 0;
$dropdown-content-padding-bottom: 0;

/* ----------------------------------------
    Bulma Imports
---------------------------------------- */
// Bulma Components
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/_all.sass";

@import "../node_modules/bulma/sass/form/shared.sass";
@import "../node_modules/bulma/sass/form/input-textarea.sass";

@import "../node_modules/bulma/sass/grid/columns.sass";

@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/components/_all.sass";
@import "../node_modules/bulma/sass/components/message.sass";

// Bulma Extensions
@import "../node_modules/bulma-checkradio/dist/css/bulma-checkradio.sass";
